.cardsNumber{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90vw;
    max-width: 525px;

    margin: 20px auto 40px;
    padding: 1% 0;

    text-align: center;

    background-color: var(--secondColor);
    color: var(--fifthColor);
}

.cardsNumber h4{
    font-size: 24px;
    margin: 0;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}